input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#profileArea{
position: absolute;
top:0%;
left:0%;
width:100%;
height:100%;
background-color: red;
  visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-image: url(../img/drone.jpg);
}
#profileHeaderArea{
  position: absolute;
  width:100%;
  height:20%;
  top:0;
  left:0;
  background-color: #FFA51E;
  text-align: center;
  color: white;
  font-size: 3vw;
  line-height: 8vw;
}

.profileBtn{
  position: absolute;
  width:50%;
  height:10%;
  left:25%;
  background-color: #FFA51E;
  color:white;
  text-align: center;
  font-size:2vw;
  line-height: 50px;
  border: 1px solid #FFA51E;
  border-radius: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#pBtn1{
  top:30%;

}

#pBtn2{
  top:50%;
}
#pBtn3{
  top:70%;
}
#couponArea{
  position: absolute;
  background-color: #F0F0EC;
  width:100%;
  height:80%;
  top:20%;
  left:0%;
  visibility: hidden;
}
#couponsArea{
  position: absolute;
  background-color: white;
  width:100%;
  height:80%;
  top:20%;
  left:0%;
  visibility: hidden;
}
.couponThing{
  position: relative;
  float:left;
  height:95%;
  width:31%;
  background-color: white;
  margin-top:1%;
  margin-left: 1.1%;
  margin-right:1.1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageplace{
  position: absolute;
  width:100%;
  height:50%;
  top:0%;
  left:0%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#imgC1{
  background-image: url(https://kolonial.no/media/uploads/public/44/87/680487-e0928-product_detail.jpg);
}
.headerAreaCoupon{
  position: absolute;
  top:50%;
  left:0;
  width:100%;
  height:10%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 3vw;
  background-color: #F0F0EC;
}
.discountAreaCoupon{
  position: absolute;
  top:60%;
  left:0;
  width:100%;
  height:10%;
  background-color: #EB554B;
  color:white;
  text-align: center;
  font-size: 1.5vw;
}
.pyntDiscount{
  position: absolute;
  top:70%;
  left:0;
  width:100%;
  height:15%;
  background-color: #EB554B;
  text-align: center;
  font-size: 1.5vw;
  background-image: url(../img/hel.png);
  background-size:contain;
  background-position: top;
}
.dividerArea{
  position: absolute;
  top:85%;
  left:0;
  width:100%;
  height:5%;
    background-color: #EB554B;
  background-image: url(../img/DIVIDE.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.buttonAreaCoupon{
  position: absolute;
  top:90%;
  left:0;
  width:100%;
  height:10%;
  background-color: #EB554B;
  color:white;
  text-align: center;
  font-size: 1.5vw;
  border: 0px;
}
#exitP{
  position: absolute;
  height:35%;
  width:4%;
  background-color: red;
  right:0%;
  top:0%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#lotteryArea{
  position: absolute;
  background-color: magenta;
  width:100%;
  height:80%;
  top:20%;
  left:0%;
  visibility: hidden;
}
#lotteryImage{
position:absolute;
top:0%;
left:0%;
width:70%;
height:100%;
background-image: url(../img/lotteri.jpg);
background-size: cover;
}
#lotteryMachine{
  position: absolute;
  height: 100%;
  right:0%;
  width: 30%;
  background-color:#F0F0EC;
}
#numInPlace{
  position: absolute;
  top:60%;
  width: 100%;
  height:15%;
}
#minusIBtn{
  position: absolute;
  top:1%;
  height:98%;
  width:20%;
  left:11%;
  border: 0.2vw solid #8255C3;
  font-size: 2vw;
  text-align: center;
  line-height: 50px;
  background-image: url(../img/icons/minus.png);
  background-size: contain;
  background-position: center;
    background-color: transparent;
}
#theInput{
  position: absolute;
  top:1%;
  height:99%;
  width:40%;
  left:30%;
  border: 0.2vw solid #8255C3;
  border-radius: 0;
  text-align: center;
  font-size: 1.5vw;
  background-color: #F0F0EC;
}

#plusIBtn{
  position: absolute;
  top:1%;
  height:98%;
  width:20%;
  left:70%;
  background-color: transparent;
  border: 0.2vw solid #8255C3;
  text-align: center;
  border-left: 0;
  line-height: 50px;
  font-size: 3vw;
  background-image: url(../img/icons/plus.png);
  background-size: contain;
  background-position: center;
}

#buttonPush{
  position: absolute;
  top:85%;
  left:5%;
  width:90%;
  height:10%;
  background-color: #8255C3;
  color:white;
  text-align: center;
  font-size: 2vw;
  line-height: 3vw;
}
#inputATxt{
  position: absolute;
  width:30%;
  height:5%;
  top:55%;
  left:10%;
}
#overskriftoverskriftLodd{
  position: absolute;
  width:100%;
  top:10%;
  height: 5%;
  text-align: center;
  font-size: 1vw;
}
#overskriftLodd{
  position: absolute;
  width:100%;
  top:18%;
  height: 20%;
  text-align: center;
  font-size: 2vw;
  color:#8255C3;
}
#underskriftLodd{
  position: absolute;
  width:100%;
  top:39%;
  height: 5%;
  text-align: center;
  font-size: 1vw;
}
