#profileArea{
position: absolute;
top:0%;
left:0%;
width:100%;
height:100%;
background-color: red;
  visibility: visible;
}
#profileHeaderArea{
  position: absolute;
  width:100%;
  height:20%;
  top:0;
  left:0;
  background-color: yellow;
}

.profileBtn{
  position: absolute;
  width:50%;
  height:10%;
  left:25%;
  background-color: purple;
  color:white;
  text-align: center;
  font-size:2vw;
  line-height: 50px;
  visibility: hidden;

}

#pBtn1{
  top:30%;

}

#pBtn2{
  top:50%;
}
#couponArea{
  position: absolute;
  background-color: magenta;
  width:100%;
  height:80%;
  top:20%;
  left:0%;
}
.couponThing{
  position: relative;
  float:left;
  height:95%;
  width:31%;
  background-color: white;
  margin-top:1%;
  margin-left: 1.1%;
  margin-right:1.1%;
}
.imageplace{
  position: absolute;
  width:100%;
  height:50%;
  top:0%;
  left:0%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#imgC1{
  background-image: url(https://kolonial.no/media/uploads/public/44/87/680487-e0928-product_detail.jpg);
}
.headerAreaCoupon{
  position: absolute;
  top:50%;
  left:0;
  width:100%;
  height:10%;
  background-color: lime;
  text-align: center;
  font-size: 1.5vw;
}
.discountAreaCoupon{
  position: absolute;
  top:60%;
  left:0;
  width:100%;
  height:10%;
  background-color: orange;
  text-align: center;
  font-size: 1.5vw;
}
.pyntDiscount{
  position: absolute;
  top:70%;
  left:0;
  width:100%;
  height:20%;
  background-color: pink;
  text-align: center;
  font-size: 1.5vw;
}
.buttonAreaCoupon{
  position: absolute;
  top:90%;
  left:0;
  width:100%;
  height:10%;
  background-color: #ffa514;
  color:white;
  text-align: center;
  font-size: 1.5vw;
}
