.gameContainerC{
position: absolute;
top:22.5%;
left:20%;
height:70%;
width:60%;
background-color: white;
}

#tA1{
  width: 15%;
  min-width: 100px;
  left: 1%;
}
#tA2{
  width: 10%;
  min-width: 100px;
  right: 1%;
}
